<!DOCTYPE html>
<html lang="en">

<head>
    <title>칼럼 읽기</title>
    <link rel="stylesheet" href="/column/read.css">
    <script src="/column/read.js"></script>
</head>

<body>
    <div class="path-wrap">
        <p class="path"> <a href="/main/home"><i class="fa-solid fa-house"></i></a> >
            <span>칼럼</span> >
            <span>전체컬럼
                <!-- <% if(column.cs==0){ %>
                    전체컬럼
                    <% } else if(column.cs==1) { %>
                        구독한 작가 컬럼
                        <% } else { %>
                            좋아요 한 컬럼
                            <% } %> -->
            </span> >
            <span id="change-path">
                <%= column.sj %>
            </span>
        </p>
    </div>

    <div class="title_bar">
        <!-- 제목  input 길이 30자로 지정 -->
        <div class="title">
            <p id="col_no">
                <input id="colNo" type="hidden" value="<%= column.c_id %>">
                <%= column.c_id %>.
            </p>
            <span></span>
            <p id="col_title">
                <%= column.sj %>
            </p>
        </div>
        <p id="writer">
            <i class="fa-solid fa-circle-user"></i>
            <span class="writer">
                <%= column.nm %>
            </span>
            <% if(column.u_no==userNo){ %>
                <button type="button" id="modify-btn" onclick="location.href='../modify/<%=column.c_id%>'">수정하기</button>
                <% } %>
        </p>
    </div>
    <div class="contents_bar">
        <div id="col-info">
            <div id="col-info-dt">
                <i class="fa-regular fa-clock"></i>
                <%= column.wt %>
                    <!-- <p class="column-type">${resultData[i].COLMN_CL_NM}</p> -->
            </div>
            <div id="col-info-icon-wrap">
                <div>
                    <i class="fa-regular fa-eye"></i>
                    <span id="hits_count">
                        <%=column.hit %>
                    </span>
                </div>
                <div>
                    <i class="fa-regular fa-comment-dots"></i>
                    <span class="reply_count">
                        <%=column.reply_count %>
                    </span>
                </div>
                <div>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span class="like_count">
                        <%=column.like_count %>
                    </span>
                </div>
            </div>
        </div>
        <div class="column_contents" id="column_contents">
            <input name="content" id="getContent" type="hidden" value="<%=column.cn%>">
            <div id="content">
            </div>
            <div class="icon">
                <i class="fa-solid fa-thumbs-up"></i>
                <p id="like">좋아요</p>
                <p class="like_count">0</p>
            </div>
        </div>

        <!-- 댓글 부분, 위치 색깔 하늘색-->
        <div class="comment_bar">
            <div class="comment_num">댓글 수 : <span class="reply_count">0</span></div>
            <!-- 부모 댓글 textarea, 위치 색깔 파란색-->
            <div class="comment_input">
                <% if(!userNo){ %>
                    <textarea class="reply_text" placeholder="로그인 후 이용가능합니다." readonly></textarea>
                    <%} else { %>
                        <textarea class="reply_text" placeholder="댓글을 입력하세요."></textarea>
                        <div class="input_div">
                            <div class="limit_text"><span class="js_num">0</span>/300</div>
                            <button type="button" class="reply_save_btn">등록</button>
                        </div>
                        <% } %>
            </div>

            <div id="input_text_bar"></div>
        </div>
    </div>
</body>

</html>