<!DOCTYPE html>
<html lang="en">

<head>
    <title>수정</title>
    <link rel="stylesheet" href="/user/modify.css">
    <script src="/user/userModify.js"></script>
</head>

<body>
    <div class="title-wrap">
        <h1 id="user-modify-title">회원 정보</h1>
    </div>
    <!-- 폼태그 수정, 각 인풋에 name작성 해야함 -->
    <form action="#">
        <article class="user-join-wrap">
            <p class="brief"><span class="required">*</span>표시는 변경 불가 항목입니다.</p>
            <div>
                <!-- 이름 -->
                <div id="user-name" class="editable-info">
                    <div>이름</div>
                    <div>
                        <input type="text" class="user-name-input" maxlength="10" value="<%= userResults[0].name %>"></div>
                    <div class="validation-message"></div>
                </div>

                <!-- 아이디 -->
                <div id="user-login-id">
                    <div><span class="required">*</span>아이디</div>
                    <div>
                        <!-- 보기 전용 readonly -->
                        <input type="text" class="user-login-id-input" value="<%= userResults[0].user_id %>" readonly>
                    </div>
                </div>

                <!-- 비밀번호 -->
                <div id="user-login-pw" class="editable-info">
                    <div>비밀번호</div>
                    <div>
                        <button type="button" id="change-pw-btn" onclick="location.href='/user/passwd_reset'">비밀번호
                            변경</button>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 닉네임 -->
                <div class="user-nickname">
                    <div><span class="required">*</span>닉네임</div>
                    <div>
                        <input name="nickname" type="text" id="user-nickname-input" class="user-input" maxlength="14"
                            value="<%= userResults[0].ncnm %>" readonly>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 이메일 -->
                <div id="user-email" class="editable-info">
                    <div>이메일</div>
                    <div>
                        <input type="text" class="user-email-input" value="<%= userResults[0].email.split('@')[0] %>">
                        <span>@</span>
                        <input type="text" class="custom-input">
                        <select id="select-email-option">
                            <% var options=['선택', 'userInput' , 'gmail.com' , 'naver.com' , 'nate.com' , 'daum.net' ];
                                for(var i=0; i < options.length; i++){%>
                                <option value="<%= options[i] %>" <%=userResults[0].email.split('@')[1]==options[i]
                                    ? "selected" : "" %>>
                                    <%= options[i]=='userInput' ? '직접입력' : options[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 전화번호 -->
                <div id="user-phone-number">
                    <div>전화번호</div>
                    <div class="input-numbers">
                        <!-- 각 input 패턴 적용 -->
                        <input type="text" class="user-phone-number-input" maxlength="3"
                            value="<%= userResults[0].telno.slice(0, 3) %>">
                        <span>-</span>
                        <input type="text" class="user-phone-number-input" maxlength="4"
                            value="<%= userResults[0].telno.slice(3, 7) %>">
                        <span>-</span>
                        <input type="text" class="user-phone-number-input" maxlength="4"
                            value="<%= userResults[0].telno.slice(7, 11) %>">
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 주소 -->
                <div id="user-address">
                    <div>주소</div>
                    <div>
                        <input type="text" class="user-address-input" value="<%= userResults[0].adres %>">
                        <button type="button" id="find-postal-code-btn" class="user-join-wrap-btn">우편번호로 찾기</button>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 알림설정 -->
                <!-- <div id="user-id-check">
                    <div>알림설정</div>
                    <div>
                        <input type="checkbox" id="toggle" hidden>
                        <label for="toggle" id="notification-toggle-switch" class="toggle-swt">
                            <span id="toggle-btn" class="toggle-btn"></span>
                        </label>
                    </div>
                </div> -->
            </div>

            <div class="btn-wrap">
                <button type="submit" id="update-btn">저장</button>
                <button type="button" id="cancle-button" onclick="location.href='/main/home'">취소</button>
            </div>

        </article>
    </form>

</body>

</html>