<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <header class="header" id="header">
        <%- include('header') %>
    </header>
    <main>
        <%- body %>
    </main>

    <footer>
        <%- include('footer') %>
    </footer>

    <%- script %>
</body>

</html>