<!DOCTYPE html>
<html lang="en">

<head>
  <title>글쓰기</title>
  <!-- 썸머노트 부트스트랩 코드-->
  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <!-- 썸머노트 부트스트랩 코드 -->
  <script src="/column/writeColumn.js"></script>
  <link rel="stylesheet" href="/column/write.css" />
</head>

<body>
  <div class="layouts">
    <input type="text" class="name" placeholder="제목을 입력하세요" id="sj" value="<%= !colInfo ? '' : colInfo.sj %>"
      maxlength="30" />

    <select name="column_type" id="column_type">
      <% var options=['==선택==', ' 국내 소설' , '해외 소설' , '시/에세이' , '인문' , '가정/육아' , '요리' , '건강' , '취미/실용' , '경제/경영' , '자기계발'
        , '정치/사회' , '역사/문화' , '종교' , '예술/대중문화' , '기술공학' , '외국어' , '여행' , '컴퓨터/IT' , '잡지' , '만화' ]; for(var i=0; i <
        options.length; i++){%>
        <% if(!colInfo) { %>
          <option value="<%= i %>" <%=colInfo.ccs==0 ? "selected" : "" %>>
            <%= options[i] %>
          </option>
          <% } else { %>
            <option value="<%= i %>" <%=colInfo.ccs==i ? "selected" : "" %>>
              <%= options[i] %>
            </option>
            <% } %>
              <% } %>
    </select>

    <div class="buttons">
      <% if(!colInfo){ %>
        <button id="save-column">게시하기</button>
        <% } else { %>
          <input type="hidden" id="col_no" value="<%= colId %>">
          <button id="update-column">수정하기</button>
          <% } %>
    </div>
  </div>

  <div id="file-upload-wrap">
    <div id="upload-title">칼럼 배경 이미지 업로드</div>
    <input type="file" name="imgFile" id="imgFile" accept=".jpg, .png, .jpeg" />
    <button type="button" id="uploadBtn">업로드</button>
    <button type="button" id="imgDelBtn">지우기</button>
    <div id="uploadMsg"></div>
    <div id="img-preview">
      <input id="img-path" type="hidden" value="<%= !colInfo ? '' : colInfo.cip %>" />
        <div>
          <i class="fa-regular fa-image"></i>
          <i class="fa-solid fa-sort-down"></i>
        </div>
    </div>
  </div>
  <img id="uploadImg" hidden>


  <div id="write-wrap">
    <input id="content" type="hidden" value="<%= !colInfo ? '' : colInfo.cn %>">
    <div id="write"></div>
  </div>
</body>

</html>